<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head'); %>
</head>

<body class="container">

    <header>
        <%- include('layouts/header'); %>
    </header>
    <main>
        <section class="content">
            <% for (var i = 0; i < Device.length; i++) { %>
                <div class="devices-homepage">
                    <a href="/post/<%= Device[i]._id %>">
                        <h1><%= Device[i].name %></h1>
                        <h2><%= Device[i].model%></h2>
                    </a>
                </div>
            <% } %>
        </section>
        
    </main>

    <footer>
        <%- include('layouts/footer'); %>
    </footer>

</body>

</html>
