<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head'); %>
</head>

<body class="container">

    <header>
        <%- include('layouts/header'); %>
    </header>
    <main class="grid">
        <div class="ads">
            <h1>LATEST</h1>
            <section class="content">
                <% for (var i = 0; i < Device.length; i++) { %>
                    <div class="devices-homepage">
                        <a href="/post/<%= Device[i]._id %>">
                            <h1><%= Device[i].name %></h1>
                            <h2><%= Device[i].model%></h2>
                        </a>
                    </div>
                <% } %>
            </section>
        </div>
        <div  class="main-content" >
            
        </div>
        
        <div  class="side-grid" >
            <p class="test-p">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi magni optio beatae natus iusto temporibus possimus maxime facilis! Molestiae, unde! Quae recusandae optio perspiciatis voluptas velit in neque blanditiis accusantium?
            </p>
        </div>
    </main>
    
    

    <footer>
        <%- include('layouts/footer'); %>
    </footer>

</body>

</html>
