<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head'); %>
</head>

<body class="container">

    <header>
        <%- include('layouts/header'); %>
    </header>
    <main>
            <div class="devices-view">
                    <p><%- device.blog %></p>
                    <p><%- device.name %></p>
                    <p><%- device.model %></p>
                    <p><%- device.releaseDate %></p>
                    
            </div>
    </main>

    <footer>
        <%- include('layouts/footer'); %>
    </footer>

</body>

</html>
